@font-face {
    font-family: 'Cera Pro';
    src: url('/public/assets/fonts/CeraPro-Light.eot');
    src: local('Cera Pro Light'),
    local('CeraPro-Light'),
    url('/public/assets/fonts/CeraPro-Light.eot?#iefix') format('embedded-opentype'),
    url('/public/assets/fonts/CeraPro-Light.woff2') format('woff2'),
    url('/public/assets/fonts/CeraPro-Light.woff') format('woff'),
    url('/public/assets/fonts/CeraPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('/public/assets/fonts/CeraPro-MediumItalic.eot');
    src: local('Cera Pro Medium Italic'),
    local('CeraPro-MediumItalic'),
    url('/public/assets/fonts/CeraPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('/public/assets/fonts/CeraPro-MediumItalic.woff2') format('woff2'),
    url('/public/assets/fonts/CeraPro-MediumItalic.woff') format('woff'),
    url('/public/assets/fonts/CeraPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('/public/assets/fonts/CeraPro-RegularItalic.eot');
    src: local('Cera Pro Regular Italic'),
    local('CeraPro-RegularItalic'),
    url('/public/assets/fonts/CeraPro-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('/public/assets/fonts/CeraPro-RegularItalic.woff2') format('woff2'),
    url('/public/assets/fonts/CeraPro-RegularItalic.woff') format('woff'),
    url('/public/assets/fonts/CeraPro-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('/public/assets/fonts/CeraPro-BlackItalic.eot');
    src: local('Cera Pro Black Italic'),
    local('CeraPro-BlackItalic'),
    url('/public/assets/fonts/CeraPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('/public/assets/fonts/CeraPro-BlackItalic.woff2') format('woff2'),
    url('/public/assets/fonts/CeraPro-BlackItalic.woff') format('woff'),
    url('/public/assets/fonts/CeraPro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('/public/assets/fonts/CeraPro-Medium.eot');
    src: local('Cera Pro Medium'),
    local('CeraPro-Medium'),
    url('/public/assets/fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('/public/assets/fonts/CeraPro-Medium.woff2') format('woff2'),
    url('/public/assets/fonts/CeraPro-Medium.woff') format('woff'),
    url('/public/assets/fonts/CeraPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('/public/assets/fonts/CeraPro-BoldItalic.eot');
    src: local('Cera Pro Bold Italic'),
    local('CeraPro-BoldItalic'),
    url('/public/assets/fonts/CeraPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('/public/assets/fonts/CeraPro-BoldItalic.woff2') format('woff2'),
    url('/public/assets/fonts/CeraPro-BoldItalic.woff') format('woff'),
    url('/public/assets/fonts/CeraPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('/public/assets/fonts/CeraPro-ThinItalic.eot');
    src: local('Cera Pro Thin Italic'),
    local('CeraPro-ThinItalic'),
    url('/public/assets/fonts/CeraPro-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('/public/assets/fonts/CeraPro-ThinItalic.woff2') format('woff2'),
    url('/public/assets/fonts/CeraPro-ThinItalic.woff') format('woff'),
    url('/public/assets/fonts/CeraPro-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('/public/assets/fonts/CeraPro-LightItalic.eot');
    src: local('Cera Pro Light Italic'),
    local('CeraPro-LightItalic'),
    url('/public/assets/fonts/CeraPro-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('/public/assets/fonts/CeraPro-LightItalic.woff2') format('woff2'),
    url('/public/assets/fonts/CeraPro-LightItalic.woff') format('woff'),
    url('/public/assets/fonts/CeraPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('/public/assets/fonts/CeraPro-Black.eot');
    src: local('Cera Pro Black'),
    local('CeraPro-Black'),
    url('/public/assets/fonts/CeraPro-Black.eot?#iefix') format('embedded-opentype'),
    url('/public/assets/fonts/CeraPro-Black.woff2') format('woff2'),
    url('/public/assets/fonts/CeraPro-Black.woff') format('woff'),
    url('/public/assets/fonts/CeraPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('/public/assets/fonts/CeraPro-Bold.eot');
    src: local('Cera Pro Bold'),
    local('CeraPro-Bold'),
    url('/public/assets/fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('/public/assets/fonts/CeraPro-Bold.woff2') format('woff2'),
    url('/public/assets/fonts/CeraPro-Bold.woff') format('woff'),
    url('/public/assets/fonts/CeraPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('/public/assets/fonts/CeraPro-Regular.eot');
    src: local('Cera Pro Regular'),
    local('CeraPro-Regular'),
    url('/public/assets/fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('/public/assets/fonts/CeraPro-Regular.woff2') format('woff2'),
    url('/public/assets/fonts/CeraPro-Regular.woff') format('woff'),
    url('/public/assets/fonts/CeraPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('/public/assets/fonts/CeraPro-Thin.eot');
    src: local('Cera Pro Thin'),
    local('CeraPro-Thin'),
    url('/public/assets/fonts/CeraPro-Thin.eot?#iefix') format('embedded-opentype'),
    url('/public/assets/fonts/CeraPro-Thin.woff2') format('woff2'),
    url('/public/assets/fonts/CeraPro-Thin.woff') format('woff'),
    url('/public/assets/fonts/CeraPro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

* {
    scroll-behavior: smooth;
    font-family: 'Cera Pro';
}

body {
    background-color: #071009;
}

::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #69FF93;
}

#chartjs-tooltip {
    z-index: 1000;
    pointer-events: none;
}


.tooltip-chart-box {
    background: #071009;
    padding: 10px 30px 10px 10px;
    border: 3px solid #265C35;
    border-radius: 10px;
    position: relative;
    right: 85px;
    top: -200px;
    z-index: 99999;
}

.tooltip-chart-box::before {
    position: absolute;
    height: 120px;
    content: "";
    width: 1px;
    left: 80px;
    top: 68px;
    border-left: 2px dashed #337D48;
}

.tooltip-chart-box::after {
    position: absolute;
    content: url("/public/assets/arrow-chart.svg");
    left: 75px;
    top: 52px;
}

@media (max-width: 425px) {
    .tooltip-chart-box {
        padding: 10px 30px 10px 10px;
        top: -100px;
    }

    .tooltip-chart-box::before {
        display: none;
    }
    .tooltip-chart-box::after {
        display: none;
    }
}

.tooltip-date-label {
    color: #69FF93;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
}

.client-text {
    color: #F6F4FA;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
}
